NODE_ENV = development
SERVICE_NAME = demo
PORT = 3001

APP_THROTTLE_TTL = 60
APP_THROTTLE_LIMIT = 600

REDIS_URL = redis://default:@127.0.0.1:6379/0?allowUsernameInURI=true

MONGODB_URI = mongodb://localhost:27017/demo

MYSQL_HOST = localhost
MYSQL_PORT = 3306
MYSQL_USERNAME = root
MYSQL_PASSWORD = admin123
MYSQL_DATABASE = demo

ELASTICSEARCH_NODE = http://localhost:9200
